@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Milchella';
  src: 
       url('./Assets/fonts/Mitchella_regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
